@model Global_Solution.Models.cy_consulta_medica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cy_consulta_medica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sintomas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sintomas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diagnostico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdConsulta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
